# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project\php-admin-boiler-plate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
